.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/settings.tailwind.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__debug_bin*

vendor
build
/dist
/docker/data

/certimate
/certimate.exe
/pb_data
