.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__debug_bin*
.temp*
.tmp*

vendor
dist

/certimate
/certimate.exe
/docker/data
/pb_data
